
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 33% 98%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 252 58% 57%;
    --primary-foreground: 210 40% 98%;

    --secondary: 248 63% 52%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 251 77% 80%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 252 58% 57%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 252 58% 57%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 252 58% 57%;
  }

  .dark {
    --background: 240 10% 18%;
    --foreground: 210 40% 98%;

    --card: 240 10% 22%;
    --card-foreground: 210 40% 98%;

    --popover: 240 10% 18%;
    --popover-foreground: 210 40% 98%;

    --primary: 252 58% 57%;
    --primary-foreground: 210 40% 98%;

    --secondary: 248 63% 52%;
    --secondary-foreground: 210 40% 98%;

    --muted: 240 7% 30%;
    --muted-foreground: 215 20.2% 75.1%;

    --accent: 251 77% 80%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 7% 25%;
    --input: 240 7% 25%;
    --ring: 252 58% 57%;

    --sidebar-background: 240 10% 14%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 252 58% 57%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 10% 22%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 240 10% 22%;
    --sidebar-ring: 252 58% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
